{{#each recommendation.diet}}
      <h3>{{text}}</h3>
       {{#each Food}}
          {{name}} <br />
       {{/each}}
    {{/each}}


    {{#each recommendation.energy}}
      <h3>{{text}}</h3>
       {{#each Food}}
          {{name}} <br />
       {{/each}}
    {{/each}}


    {{#each recommendation.habit}}
      <h3>{{text}}</h3>
       {{#each Food}}
          {{name}} <br />
       {{/each}}
    {{/each}}